<script type="text/javascript"
    src="https://sdk.librato.com/librato-sdk-v0.5.1-min.js"
    data-librato_email="ops@bleacherreport.com"
    data-librato_token="<%=ENV['LIBRATO_TOKEN']%>">
</script>
<h2>Google Pagespeed Tests:</h2>
<p> Last 7 days </p>
<div class="librato-metrics" data-instrument_id="30925358" style="height: 200px; width: 600px;" data-duration="604800">
<h2>Test Statistics </h2>